<h1>All Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list %>
      <%= link_to 'Remove', list, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-danger ms-3' %>
    </li>
  <% end %>
</ul>

<%= link_to 'New List', new_list_path %>
