// Specific CSS for your home-page
// .carousel-item {
//   height: 40vh;
//   overflow: hidden;
// }

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .custom-carousel {
    height: 30vh;  /* Adjust this value for smaller screens */
  }
}

.list-card {
  transition: transform 0.3s;
}

.list-card:hover {
  transform: scale(1.1);
}

.btn-circle {
  border-radius: 50%;
  padding: 5px 10px;
}
